<div class="container">
  <h3>1 Month Program</h3>

  <div class="col-md-12">
  <table class="table">
    <!-- Table Heading -->
    <thead>
      <tr>
        <th class="col-md-1"></th>
        <th class="col-md-1">Day 1</th>
        <th class="col-md-1">Day 2</th>
        <th class="col-md-1">Day 3</th>
        <th class="col-md-1">Day 5</th>
        <th class="col-md-1">Day 6</th>
        <th class="col-md-1">Day 7</th>
      </tr>
    </thead>
    <!-- Local Table Info -->
    <tbody>
      <tr>
        <td> Week 1 </td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
      </tr>
      <tr>
        <td> Week 2 </td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
      </tr>
      <tr>
        <td> Week 3 </td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
      </tr>
      <tr>
        <td> Week 4 </td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
        <td><input type="checkbox" aria-label="..."></td>
      </tr>
    </tbody>
  </table>
  </div>

</div>
