<div class="jumbotron jumbo-img text-center">
  <div class="hero-title">
    <h2>DoctorNow</h2>
    <p>Fastest way for help, get started now</p>
    <div class="buttons">
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <a class="btn btn-primary" [routerLink]="['/login']">Login</a>
    </div>
  </div>
  <div class="arrow-down">
    <p><span class="glyphicon glyphicon-chevron-down"></span></p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Express Backend</h3>
      <p>...</p>
    </div>
    <div class="col-md-4">
      <h3>Angular 2 Frontend</h3>
      <p>...</p>
    </div>
    <div class="col-md-4">
      <h3>JWT Token Auth</h3>
      <p>...</p>
    </div>
  </div>
</div>
