.jumbo-img{
  background-image: url('../assets/txfitness.jpg');
  background-size:cover;
  height:92vh;
}
.hero-title{
  margin-top:10em;
  /*width: 45%;
  border: 2px solid white;
  margin: 0 auto;
  padding: 53px;*/
  color:black;
}
.arrow-down{
  margin-top: 25vh;
  color: black;
}
.buttons{
  padding-top: 20px;
}
.btn {
    border-width: 2px;
    width: 140px;
    margin-left: 10px;
}
